{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
  height: 230px;
}

.left {
  width: 40%;
}

.left img {
  width: 95%;
  height: 95%;
  display: block;
}


.right {
  width: 60%;
  padding: 0px;
  vertical-align: center;
  margin-top: 0px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

}
</style>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <div class="row">
      <div class="column left" style="background-color:#bbb;">
        {% if post.teaser %}
          <img src= "{{ post.teaser }}">
        {% endif %}
      </div>
      <div class="column right" style="background-color:#aaa;">
        <font size="-1">
        <h2 class="archive__item-title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h2>
        {% if post.collection == 'publications' %}
          <p> {{ post.authorlist }} <br>
          <i> {{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%B, %Y" }} <br>
           <font color="#797979">{{ post.excerpt }}</font> <br>
          <a href=" {{ post.paperurl }} ">PDF</a></p>
        {% endif %}
        </font>
      </div>
    </div>

  </article>
</div>
